@font-face {
  font-family: 'YEONGJUSeonbiTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: black;
  
}

.container {
    margin-top: 120px;
    font-family: 'YEONGJUSeonbiTTF';
    background-color: black;
}

p.font {
  margin: 10px;
  font-weight: 700;
  color: white;
}


.inner {
  width: 80%;
}

.form-list {
  padding-left: 35%;
  padding-top: 20px;
  padding-right:10%;
}

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 7px;
  color: black;
}

.address {
  
  border-radius: 10px;
  margin-top:5px;
}

.gender {
  display: flex;
}

.btn_gender {
  position: relative;
  left: 30%;
  /* border-radius: 5px; */
  height: 50px;
  width: 100px;
  /* border: 1px solid lightgray; */
  margin-top: 20px;
  /* cursor: pointer; */
  justify-content: center;
  
  cursor: pointer;
  transition: background-color 0.4s;
  color: black;
  border: 3px solid white;
  border-radius:10px;
  box-shadow:inset 0 0 10px 2px black,0 0 10px 2px black;
}
.btn_gender.m:hover{
    transition:0.5s;
    box-shadow:inset 0 0 10px 2px blue,0 0 10px 2px blue;
}
.btn_gender.f:hover{
    transition:0.5s;
    box-shadow:inset 0 0 10px 2px rgb(234, 19, 253),0 0 10px 2px rgb(226, 82, 195);
}


#emailAuth{
 background-color: #007bff;
 color: white;
 font-size: 16px;
 border:none ;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.4s;
}
#emailAuth:hover{
   font-weight: bold;
  background-color: aquamarine;
  box-shadow: 0 0 8px aqua,
  0 0 28px aqua,
  0 0 58px aqua,
  0 0 208px aqua;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out; 
 
}
#emailChkInput{
width:300px;
}
#btn_submit_button {
  display: flex;
  position: relative;
  top: 30px;
  left: 30%;
  padding-top: 14px;
  padding-left: 62px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  margin-bottom:113px;
  cursor: pointer;
  transition: background-color 0.4s;
  color: black;
  border: 3px solid white;
  border-radius:10px;
  box-shadow:inset 0 0 10px 2px black,0 0 10px 2px black;
}

#btn_submit_button:hover {
  box-shadow:inset 0 0 10px 2px yellow,0 0 10px 2px yellow;
  transition: 0.5s;
}
.image_container {
  position: absolute;
  width: 200px;
  height: 250px;
  margin-top: 70px;
  margin-left:40px;
}
.btn_image {
  position: absolute;
  top: 75%;
  display: inline-block;
  padding: 10px 20px;
  margin-left:45px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;

}

.btn_image:hover {
  font-weight: bold;
  background-color: aquamarine;
  box-shadow: 0 0 8px aqua,
  0 0 28px aqua,
  0 0 58px aqua,
  0 0 208px aqua;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.btn_image label {
  cursor: pointer;
}
#imagePreview {
  position: absolute;
  margin-top: 20px;
  margin-left:30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  overflow: hidden;



}