@font-face {
  font-family: 'YEONGJUSeonbiTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


  


.container {
    margin-top: 120px;
    font-family: 'YEONGJUSeonbiTTF';
}

p.font {
  margin: 10px;
  font-weight: 700;
}

.inner {
  width: 80%;
}

.form-list {
  padding-left: 35%;
  padding-top: 20px;
  padding-right:10%;
}

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 7px;
}

.address {
  
  border-radius: 10px;
  margin-top:5px;
}

.gender {
  display: flex;
}

.btn_gender {
  position: relative;
  left: 30%;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  border: 1px solid lightgray;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
}
.btn_gender:hover{
  background-color: rgba(39, 185, 10, 0.3);
}
#emailAuth{
 background-color: #007bff;
 color: white;
 font-size: 16px;
 border:none ;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.4s;
}
#emailAuth:hover{
 background-color: rgba(39, 185, 10, 0.3);
}
#emailChkInput{
width:300px;
}
#btn_submit_button {
  display: flex;
  position: relative;
  top: 30px;
  left: 30%;
  background-color: skyblue;
  color: white;
  padding-top: 14px;
  padding-left: 62px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  margin-bottom:113px;
  cursor: pointer;
  transition: background-color 0.4s;
}

#btn_submit_button:hover {
  background-color: rgba(39, 185, 10, 0.3);
}
.image_container {
  position: absolute;
  width: 200px;
  height: 250px;
  margin-top: 70px;
  margin-left:40px;
}
.btn_image {
  position: absolute;
  top: 75%;
  display: inline-block;
  padding: 10px 20px;
  margin-left:45px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;

}

.btn_image:hover {
  background-color: rgba(39, 185, 10, 0.3);
}

.btn_image label {
  cursor: pointer;
}
#imagePreview {
  position: absolute;
  margin-top: 20px;
  margin-left:30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  overflow: hidden;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
      top: -10%
  }

  100% {
      top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {

  0%,
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  50% {
      -webkit-transform: translateX(80px);
      transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
      top: -10%
  }

  100% {
      top: 100%
  }
}

@keyframes snowflakes-shake {

  0%,
  100% {
      transform: translateX(0)
  }

  50% {
      transform: translateX(80px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 5%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 10%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 15%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 20%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 25%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 30%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 35%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 40%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 45%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
  left: 50%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(11) {
  left: 55%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(12) {
  left: 60%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(13) {
  left: 65%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(14) {
  left: 70%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(15) {
  left: 75%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(16) {
  left: 80%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(17) {
  left: 85%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(18) {
  left: 90%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(19) {
  left: 95%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}
